@using System.EnterpriseServices.CompensatingResourceManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="navbar-wrapper">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=@Url.Action("List", "Product")>Shopping</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (HttpContext.Current.User.IsInRole("Users"))
                        {
                            <li> @Html.Action("Summary", "Cart")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        else if (HttpContext.Current.User.IsInRole("Administrators"))
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
                            <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>

                        }
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</div>
</body>
</html>